body {
  font-family: "Montserrat";
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat";
  font-weight: bold;
}

h3 {

  font-size: 1.5rem;
}
p {
   color: #8f8f8f;
}
a {
  color: black;
    text-decoration: none;
}
a:hover {
    color:black;
    text-decoration:none;
    cursor:pointer;
}

/* Headings */

.big-heading{
font-family: 'Montserrat', sans-serif;
font-weight: 900;
font-size: 3.5rem;
line-height: 1.5;
}

.section-heading{
  font-size: 2.5rem;
  line-height: 1.5;
}

      /* Title */

#title {
  background-color: #395144;
    color: #fff;
}
.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation bar */
.navbar {
  padding:0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;

}
.nav-item {
  padding: 0 18px;
  font-weight: bold;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: lighter;
}
/* download-button */
.download-button {
  margin: 5% 3% 5% 0;
}
/* Title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
   margin-bottom: -50%;
  left: 15%;
  position: relative;


}
.postioning {
  position: relative;
}
/* features */

#features {
  padding: 7% 15% ;
  padding-bottom: 55px;
   background-color: #fff;
  position: relative;
}
.features-heading {
  line-height: 1.5;
}
.feature-box {
  text-align: center;
  padding: 5%;
}
.icon {
  color: #4E6C50;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #395144;
}
        /* add2 */
.cfooter {
  text-align: center;


}
.ctext {
font-weight: 600;
line-height: 1.5;
}
.add2-grid {
  margin-bottom: 80px;
}

   /* add3 */
#add3 {
    padding: 0 100px 55px 100px;
}
.add3-grid {
  margin-bottom: 50px;
}
.add3-img {
  border-radius: 20px;
    position: relative;
    width: 100%;
 align-items: center;
}
.paw{
  height: 100%;
  position: relative;
  text-align: center;
  padding: 26px;

}
.paw-img{
  width: 30%;
  margin: 40px;
}
.paw-p{
  margin: 9px 11px 10px;
}





         /* add1 */
#add1 {
  padding: 0 100px 100px 100px;
}
.add1-header {
  text-align: center;
  padding-bottom: 70px;

}

.dog1 {
border-radius: 20px;
  position: relative;
  width: 100%;

}
/* .Training {
 background-color: #fff;
  background-color: #ff4c68;
}
.Training:hover {
  background-color: #ef8172;
} */
.dog-h3 {
  /* color: #fff; */
  text-align: center;
  padding-top: 20px;
}
.para {
  color: black;
}
.food {
  margin-bottom: 105px;
  padding: 40px 40px;
  background-color: #A1C298;
  text-align: center;
  border-radius: 20px;
}
.food-btn {
  margin-bottom: -20px;
}
.food-btn:hover{
  background-color: #fff;
}
.dog-logo {
  width: 150px;
}
.food1{
  width: 49%;
  margin-right: 33px;
}
.food2 {
  width: 48%;
}


/* testimonials */

#testimonials {
  text-align: center;
  background-color: #4E6C50;
  color: #fff;
}
.testimonial-text{
  font-size: 2.5rem;
  line-height: 1.5;
}
.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 15%;
}
#press {
background-color: #4E6C50;
text-align: center;
padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
/* pricing */
#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;
}
.pricing-text{
  font-size: 2.5rem;
  line-height: 1.5;
}
             /* cta */

#cta{
  background-color: #395144;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}
.cta-heading{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;
}
#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon{
  margin: 20px 10px;
}





    /* food page */
#foodpage-body {
  margin: 20px 5px;
}
.header-tag {
  padding: 0 20px;
}
.h2tag{
  margin-bottom: 20px;
}
.food-p {
  font-size: 20px;
}
.dog3 {
  width: 80%;
  text-align: center;
  border-radius: 30px;
  margin: 20px 20px;
}
.part-1,.part-2  {
  padding: 20px 20px;
}
.part-2{
  margin-top: 20px;
  padding: 20px;
}
     /* training page */
#training-body{
  margin: 20px 30px;
}
.part-3{
  width: 49%;
}
.part-4{
  width: 48%;
  margin-left: 1px;
}
@media (max-width: 1028px) {

h1{
  font-size: 30px;
}
.big-heading{
  font-size: 30px;
}
h2{
  font-size: 2rem;
}
  #title {
    text-align: center;
  }


  .title-image{
    transform: rotate(0deg);
     margin-bottom: 0;
     left: 0;
     position: static;
  }
  /* add3 */
  .add3-grid{
    margin-bottom: 10px;
  }
  .add3-column {
    margin-bottom: 25px;
  }
   /* add1 */
   .add1-column{
     margin-bottom: 25px;
   }
    /* testimonials */
.testimonial-text{
  font-size: 23px;
}
  /* pricing */
  .section-heading{
  font-size: 23px;
  }
  .pricing-text{
  font-size: 23px;
  }
  /* cta */
  .cta-heading{
    font-size: 20px;
  }

 .food1{
    width: 100%;
    margin-right: 0;
  }
  .food2{
    width: 100%;
  }
}
